Service References/Pws0045/Pws0045.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="INTERFAZ LISA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlns="INTERFAZ LISA" name="Pws0045" targetNamespace="INTERFAZ LISA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="INTERFAZ LISA">
      <xsd:element name="Pws0045.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlini" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pws0045.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlfin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Pws0045.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Pws0045.Execute" />
  </message>
  <message name="Pws0045.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Pws0045.ExecuteResponse" />
  </message>
  <portType name="Pws0045SoapPort">
    <operation name="Execute">
      <input message="wsdlns:Pws0045.ExecuteSoapIn" />
      <output message="wsdlns:Pws0045.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Pws0045SoapBinding" type="wsdlns:Pws0045SoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="INTERFAZ LISAaction/APWS0045.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pws0045">
    <port name="Pws0045SoapPort" binding="wsdlns:Pws0045SoapBinding">
      <soap:address location="http://beta:8091/lisainterfazsql/servlet/apws0045" />
    </port>
  </service>
</definitions>