Web References/apws0039/Pws0039.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="LisaWs70" xmlns:wsdlns="LisaWs70" name="Pws0039" targetNamespace="LisaWs70" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LisaWs70">
      <xsd:element name="Pws0039.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xml_entrada" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pws0039.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xml_salida" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Pws0039.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Pws0039.Execute" />
  </message>
  <message name="Pws0039.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Pws0039.ExecuteResponse" />
  </message>
  <portType name="Pws0039SoapPort">
    <operation name="Execute">
      <input message="wsdlns:Pws0039.ExecuteSoapIn" />
      <output message="wsdlns:Pws0039.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Pws0039SoapBinding" type="wsdlns:Pws0039SoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LisaWs70action/APWS0039.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pws0039">
    <port name="Pws0039SoapPort" binding="wsdlns:Pws0039SoapBinding">
      <soap:address location="http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0039" />
    </port>
  </service>
</definitions>