Web References/_apws0043/Pws0043.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="INTERFAZ LISA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlns="INTERFAZ LISA" name="Pws0043" targetNamespace="INTERFAZ LISA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="INTERFAZ LISA">
      <xsd:element name="Pws0043.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlini" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pws0043.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlfin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Pws0043.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Pws0043.Execute" />
  </message>
  <message name="Pws0043.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Pws0043.ExecuteResponse" />
  </message>
  <portType name="Pws0043SoapPort">
    <operation name="Execute">
      <input message="wsdlns:Pws0043.ExecuteSoapIn" />
      <output message="wsdlns:Pws0043.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Pws0043SoapBinding" type="wsdlns:Pws0043SoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="INTERFAZ LISAaction/APWS0043.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pws0043">
    <port name="Pws0043SoapPort" binding="wsdlns:Pws0043SoapBinding">
      <soap:address location="http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0043" />
    </port>
  </service>
</definitions>