Web References/apws0051/Pws0051.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="LisaWs70" xmlns:wsdlns="LisaWs70" name="Pws0051" targetNamespace="LisaWs70" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://192.168.1.230:8090/lisainterfazsqln/servlet/Help/HLP_Pws0051.htm</URL>
    <line> </line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LisaWs70">
      <xsd:element name="Pws0051.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xml_entrada" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pws0051.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xml_salida" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Pws0051.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Pws0051.Execute" />
  </message>
  <message name="Pws0051.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Pws0051.ExecuteResponse" />
  </message>
  <portType name="Pws0051SoapPort">
    <operation name="Execute">
      <input message="wsdlns:Pws0051.ExecuteSoapIn" />
      <output message="wsdlns:Pws0051.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Pws0051SoapBinding" type="wsdlns:Pws0051SoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LisaWs70action/APWS0051.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pws0051">
    <port name="Pws0051SoapPort" binding="wsdlns:Pws0051SoapBinding">
      <soap:address location="http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0051" />
    </port>
  </service>
</definitions>