Web References/_apws0032/Pws0032.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="INTERFAZ LISA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlns="INTERFAZ LISA" name="Pws0032" targetNamespace="INTERFAZ LISA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="INTERFAZ LISA">
      <xsd:element name="Pws0032.Execute">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pws0032.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlfin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Pws0032.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Pws0032.Execute" />
  </message>
  <message name="Pws0032.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Pws0032.ExecuteResponse" />
  </message>
  <portType name="Pws0032SoapPort">
    <operation name="Execute">
      <input message="wsdlns:Pws0032.ExecuteSoapIn" />
      <output message="wsdlns:Pws0032.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Pws0032SoapBinding" type="wsdlns:Pws0032SoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="INTERFAZ LISAaction/APWS0032.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pws0032">
    <port name="Pws0032SoapPort" binding="wsdlns:Pws0032SoapBinding">
      <soap:address location="http://localhost:8080/lisainterfazsql2/servlet/apws0032" />
    </port>
  </service>
</definitions>